* {
	margin: 0;
	padding: 0;
}

#menu {
	position: fixed;
	right: 10px;
	top: 10px;
	list-style: none;
	z-index: 70;
}

#menu li {
	float: left;
	margin: 0 10px 0 0;
	font-size: 14px;
}

#menu a {
	float: left;
	padding: 10px 20px;
	background-color: rgba(255,255,255,.5);
	color: #333;
	text-decoration: none;
	border-radius: 50% 20%;
}

#menu .active a {
	color: #fff;
	background-color: rgba(0,0,0,.4);
}

h2 {
	font-size: 16px;
	/* transform: translateY(-200%);*/
	transition: all 2s;
	font-weight: 500;
	margin-bottom: 30px;
}

h3 {
	font-weight: 500;
	margin-bottom: 20px;
}

img {
	position: relative;
	z-index: 4;
	width: 300px;
}

.section {
	text-align: center;
	font-size: 30px;
	color: #000;
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.section:after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, .5);
	z-index: 2;
}

.section1:after {
	background: rgba(255, 255, 255, .5);
}
.section3:after {
	background: rgba(255, 255, 255, .5);
}

.section1 {
	background: url(../images/1.jpg) no-repeat center/cover;
}

.section2 {
	background: url(../images/2.jpg) no-repeat center/cover;
}

.section3 {
	background: url(../images/3.jpg) no-repeat center/cover;
}

.section4 {
	background: url(../images/4.jpg) no-repeat center/cover;
}

.section1 h2 {
	position: relative;
	left: -100%;
	z-index: 3;
	color: rgba(0, 0, 0, .8);
}

.section1 h3 {
	position: relative;
	right: -100%;
	z-index: 3;
	font-size: 30px;
	color: rgba(0, 0, 0, .8);
}

.section1 p {
	position: relative;
	bottom: -500%;
	z-index: 3;
	font-size: 20px;
	color: rgba(0, 0, 0, .8);
}

.section a {
	text-decoration: none;
	color: #fff;
	background: rgba(0, 0, 255, .5);
	display: block;
	position: relative;
	z-index: 3;
	width: 200px;
	margin: 50px auto;
	border-radius: 10px;
	padding: 5px;
	opacity: 0;
	transition: all 1s;
}

.section2 h2 {
	font-size: 60px;
	color: white;
	position: relative;
	z-index: 3;
	left: -100%;
	top: -100%;
}

.section2 h3 {
	position: relative;
	color: white;
	z-index: 3;
	opacity: 0;
	font-size: 12px;
}

.section2 p {
	position: relative;
	color: white;
	z-index: 4;
	font-size: 60px;
	opacity: 0;
}

.section3 h2 {
	width: 600px;
	margin: 0 auto;
	font-size: 16px;
	color: rgba(0, 0, 0, .8);
	position: relative;
	z-index: 3;
	opacity: 0;
	transition: all 2s;
}

.section3 h2.xuanz {
	transform: rotateZ(720deg);
}

.section3 h3 {
	position: relative;
	color: rgba(0, 0, 0, .8);
	z-index: 3;
	transition: all 5s;
	opacity: 0;
	left: -100%;
	bottom: -100%;
}

.section3 h3.xuanz2 {
	transform: rotateY(1440deg);
}

.section3 p {
	position: relative;
	color: rgba(0, 0, 0, .8);
	z-index: 4;
	bottom: -100%;
}

.section4 h2 {
	font-size: 60px;
	color: white;
	position: relative;
	z-index: 3;
}

.section4 h3 {
	position: relative;
	color: white;
	z-index: 3;
}

.section4 p {
	position: relative;
	color: white;
	z-index: 3;
}

.section4 img.pic1 {
	right: -100%;
	top: -400px;
	transition: all 1s;
}

.section4 img.pic2 {
	left: -1200px;
	top: -400px;
}

.section4 img.pic3 {
	left: -550px;
	bottom: -270px;
	transform: rotateZ(-50deg);
}

.section4 img.pic4 {
	left: 500px;
	top: -100px;
}